<h1>Welcome to Scrabble Score Extraveganza</h1>

<form action="/score">
  <div class="form-group">
     <label for="score">Enter in a word to see your Scrabble Score</label>
     <input id="score" name="score" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
